<div class="edit-form-div-3">
  <input class="name-input" type="text" name="firstName" placeholder="Enter First Name" value="<%= user.firstName %>">
  <input class="name-input" type="text" name="lastName" placeholder="Enter Last Name" value="<%= user.lastName %>">
</div>
<div class="edit-form-div-3">
  <input class="text-input" type="email" name="email" placeholder="Enter your email" value="<%= user.email %>">
</div>
<div class="edit-form-div-3">
  <input class="text-input" type="password" name="password" placeholder="Password" value="<%= user.password %>">
</div>
<div class="edit-form-div-3">
  <input class="text-input" type="password" name="repeatPassword" placeholder="Confirm password" value="<%= user.repeatPassword %>">
</div>